<div id="comments">
  <div>
    <% commentable.comments.each do |comment| %>
      <div style="border: 1px solid black; padding: 10px; margin: 6px">
        <header>
          <span style="display: inline-block; margin-right: 10px;"><%= comment.user.name.empty? ? comment.user.email : comment.user.name %></span>
          <span style="display: inline-block;"><%= format_date(comment.created_at) %></span>
        </header>
        <p>
          <%= comment.body %>
        </p>
        <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
